####### Global Parameters #########

debug_mode=yes
log_level=3
log_stderror=yes

####### Modules Section ########

mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"
loadmodule "tm.so"
loadmodule "rr.so"
# loadmodule "b2b_entities.so"
# loadmodule "b2b_logic.so"
loadmodule "proto_tcp.so"
loadmodule "proto_udp.so"
loadmodule "sipmsgops.so"
loadmodule "signaling.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "topology_hiding.so"
loadmodule "dialog.so"

listen=tcp:PUBLIC_IP:6600
listen=udp:PUBLIC_IP:6600

####### Routing Logic ########

route {
    if (topology_hiding_match()) {
        xlog("Succesfully matched this request to a topology hiding dialog. \n");
        xlog("Calller side callid is $ci \n");
        xlog("Callee side callid  is $TH_callee_callid \n");
        t_relay();
        exit;
    } else {
        if ( is_method("ACK") ) {
            if ( t_check_trans() ) {
                t_relay();
                exit;
            } else
                exit;
        }

        if (is_method("INVITE"))
            create_dialog();
    }
          
    topology_hiding();
    t_relay();
    exit;
}
